<a href="https://colab.research.google.com/github/thdfydgh/NorthKoreaDA/blob/main/NorthKoreaDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [Project] 직접 군 복무중에 해보는 북한 기상 데이터 분석 - 시각화편

**프로젝트 목표**


*  북한의 기온, 기압, 바람, 강수량 등의 전문자료를 시간 자료로 탐색적 데이터 분석(EDA) 기법을 적용하여 시각화 프로젝트 수행

#**1. 데이터 읽기**

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.font_manager as fm
# 한글 포트 설정
plt.rc('font', family='NanumBarunGothic')

In [ ]:
# csv 파일 읽기, 데이터 타입 확인
data = pd.read_csv('/content/sample_data/NorthWeatherData.csv', encoding = 'euc-kr')
data.dtypes

In [ ]:
# 열 이름 출력
data.columns.values

In [21]:
# 데이터 확인. 첫 5개 데이터
data.head()

,지점,일시,전운량(할),최저운고(할),중하층운량(할),하층운형,중층운형,상층운형,기온(°C),풍향(36방위),풍속(m/s),해면기압(hPa),현지기압(hPa),12시간강수량(mm),상대습도(%),이슬점온도(°C),시정(10m)
0,3,2022-11-01 00:00,10.0,2.0,10.0,0.0,2.0,NaN,8.5,0,0,1021.2,1020.8,NaN,93.0,7.4,800
1,3,2022-11-01 03:00,10.0,5.0,10.0,5.0,NaN,NaN,7.2,0,0,1020.4,1020.0,0.4,93.0,6.1,2000
2,3,2022-11-01 06:00,10.0,5.0,10.0,5.0,NaN,NaN,7.5,0,0,1019.4,1019.0,NaN,90.0,5.9,2000
3,3,2022-11-01 09:00,10.0,5.0,4.0,5.0,7.0,NaN,11.3,32,3,1019.0,1018.6,0.4,56.0,2.9,3000
4,3,2022-11-01 12:00,0.0,9.0,NaN,NaN,NaN,NaN,14.1,32,4,1018.6,1018.2,NaN,36.0,-0.7,3000

In [ ]:
# 데이터 확인. 마지막 5개 데이터
data.tail()

#**2. 데이터 정제**